body {
    text-align: center;
    font-family: 'Happy Monkey', cursive;
    background: url("images/background2.webp");
    color: #ffffff;
}

h1, h2, h3, h4, p {
    text-shadow: rgb(255, 183, 43) 3px 0px 0px, rgb(255, 183, 43) 2.83487px 0.981584px 0px, rgb(255, 183, 43) 2.35766px 1.85511px 0px, rgb(255, 183, 43) 1.62091px 2.52441px 0px, rgb(255, 183, 43) 0.705713px 2.91581px 0px, rgb(255, 183, 43) -0.287171px 2.98622px 0px, rgb(255, 183, 43) -1.24844px 2.72789px 0px, rgb(255, 183, 43) -2.07227px 2.16926px 0px, rgb(255, 183, 43) -2.66798px 1.37182px 0px, rgb(255, 183, 43) -2.96998px 0.42336px 0px, rgb(255, 183, 43) -2.94502px -0.571704px 0px, rgb(255, 183, 43) -2.59586px -1.50383px 0px, rgb(255, 183, 43) -1.96093px -2.27041px 0px, rgb(255, 183, 43) -1.11013px -2.78704px 0px, rgb(255, 183, 43) -0.137119px -2.99686px 0px, rgb(255, 183, 43) 0.850987px -2.87677px 0px, rgb(255, 183, 43) 1.74541px -2.43999px 0px, rgb(255, 183, 43) 2.44769px -1.73459px 0px, rgb(255, 183, 43) 2.88051px -0.838247px 0px;
    color: #20b2aa
}

#bff-img {
    width: 150px;
    border-radius: 50%;
    border: 6px solid #E2725B;
    margin-bottom: 10px;
}

#bday-age {
    background: #E2725B;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 5px 0 10px 0;
}

#bday-date {
    margin: 0;
    background: #E2725B;
    padding: 5px 10px;
    border-radius: 5px;
}

#header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gift-section {
    margin-top: 50px;
    
}

.gift-title {
    margin-bottom: 10px;
    
    
    
}

.gift-hint {
    margin-top: 0;
}

#gift-img-nova {
    height: 200px;
}

.gift-img {
    margin: 20px auto;
    max-width: 400px;
    height: 400px;
    border: 6px solid teal;
    border-radius: 10px;
    background-image: url("images/gift-cover.jpg");
    background-size: cover;
}

#gift-img-happy:hover {
    background-image: url("images/happy2.gif");
}

#gift-img-glow:hover {
    background-image: url("images/glow.gif");
}

#gift-img-ocean:hover {
    background-image: url("images/mermaid.gif");
}

#gift-img-hero:hover {
    background-image: url("images/hero.gif");
}

#gift-img-nova:hover {
    background-image: url("images/nova.gif");
    height: 200px;
}

#footer {
    font-style: italic;
    width: 400px;
    margin: 40px auto 20px;
}

a {
    color: white;
}

/* 
Add the footer paragraph according to the design. 
Configure the anchor tag to open the link in a new tab.
Forgotten how to do it? Google it! 

Link: 
https://scrimba.com/learn/htmlandcss

Text:
Want to create your own Birthday GIFt site? Take this HTML & CSS course.
*/